.fileInput {
    border-bottom: 4px solid #d3d3d3;
    border-right: 4px solid #d3d3d3;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    /* padding: 10px;
    margin: 20%; */
    cursor: pointer;
}

.submitButton {
    background: #f2c2c2;
    border: 1px solid;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    /* padding-left: 18%;
    padding-right: 18%; */
    padding: 18%;
}

.submitButton1 {
    background: #f2c2c2;
    border: 1px solid;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    /* padding-left: 25%; */
}

.submitButton:hover {
    background: #efefef;
}

.wholeSidebar {
    margin-left: 3.5%;
}